
//Colors
$grey: #85897C;
$medGrey: #5C6156;
$formGrey: #f8f8f9;
$backgroundGrey: #cacad0;
$teamGrey: #9f9fa3;
$darkGrey: #3f4444;
$footerGrey: #343730;
$blue: #3d85b2;

 
//a3ki
$yellow: #ffc820;
$white: #ffffff;
$black: #242424;
$absoluteBlack: #000000;
$squareGrey: #eeeeee;
$red: #da4d3c;
$footerLight: #cccccc;
$footerDark: #666666;
$numberGrey: #737373;
$headerBlack: #1F1F1F;



//Fonts
$heading: 'mrs-eaves-xl-serif';
$body: 'open-sans';
$bodyFooter: 'proxima-nova';
$bodySize: 18px;


//Functions




@function set-notification-text-color($color) {
    @if (lightness($color) > 70) {
      @return $darkGrey; // Lighter background, return dark color
    } @else {
      @return $grey; // Darker background, return light color
    }
}
