.Header {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    background:$white;
    transition:.5s;
    height:161px;
    opacity:1;
    overflow:hidden;
    // &.Header--home {
    //     background:rgba($footerGrey, 0);
    // }
    @include mobile {
        min-height:60px;
        max-height:60px;
        overflow:hidden;
        box-shadow: 0 1px 15px rgba(0,0,0,.20);
        
        .menu {
            padding-left:0;
        }
    }
    &.active {
        background: transparentize($absoluteBlack, .1);
        min-height:100vh;
        max-height:100vh;
        overflow-y:auto;
        padding-bottom:40px;
        @include mobile {
            background:$absoluteBlack;
        }
        .SubHeader {
            display:none;
        }
    }
    .Header-logo-normal {
        display:inline-block;
    }
    .Header-logo-inverted {
        display:none;
    }
    &.active .Header-logo-normal {
        display:none;
    }
    &.active .Header-logo-inverted {
        display:inline-block;
        display:none !important;
    }
    .Header-title {
        font-size:15px;
        font-family:$heading;
        font-weight:bold;
        color:$white;
        letter-spacing:.5px;
        display:inline-block;
        max-width:0;
        height:26px;
        overflow:hidden;
        transition:.5s;
        position:relative;
        top:10px;
        opacity:0;
        padding-right:5px;
        padding-left:5px;
        transition: max-width .2s;
        transition: opacity .5s;
        visibility:hidden;
    }
    .Header-bubble {
        margin-top:2px;
        margin-bottom:5px;
        display:inline-block;
        position:relative;
        &:hover {
            // .Header-number {
            //     background:$red;
            // }
            .Header-title {
                max-width:200px;
                opacity:1;
                top:10px;
                visibility:visible;
            }
        }
        &:last-child {
            .Header-title {
                padding-right:0;
            }
        }
        &.is-active {
            .Header-number {
                background:$red;
            }
            .Header-title {
                max-width:200px;
                opacity:1;
                visibility:visible;
            }
        }
        
    }
    .Header-number {
        font-size:15px;
        font-weight:bold;
        font-family:$body;
        color:$white;
        display:inline-block;
        background:$numberGrey;
        padding:3px 10px;
        border-radius:50%;
        
    }
    .Header-logo {
        text-align: left;
        svg {
            max-width: 200px;
            margin-top: 20px;
            @include mobile {
                max-width:150px;
                margin-top:15px;
            }
            @include tablet {
                max-width:100px;
                margin-top:10px;
            }
        }
    }
    li {
        display: inline-block;
        @include mobile {
            width:100%;
        }
    }
    
    .menu a {
        padding: 30px 20px;
        display: inline-block;
        font-size: 16px;
        text-transform: uppercase;
        color: $white;
        font-family: $heading;
        letter-spacing: 1px;
        font-weight: 500;
        @include mobile {
            padding:20px 20px;
        }
        &:hover {
            &::before {
                background: $white;
            }
        }
        &::before {
            height: 2px;
            width: 100%;
            position: relative;
            bottom: -30px;
            background: transparent;
            content: '';
            display: block;
            transition: .25s;
        }
        
    }
    ul {
        text-align: right;
        margin-bottom: 0;
        @include mobile {
            text-align:center;
        }
    }
    
    img {
        max-height: 75px;
        margin: 0;
        padding: 0;
        display: inline-block;
        margin: 26px 0;
        @include mobile {
            max-height:40px;
            margin:10px 0;
        }
    }
    .Header-hamburger {
        display: inline-block;
        align-items: center;
        width: 30px;
        height: 30px;
        margin: 0 auto;
        position: relative;
        margin-top:40px;
        cursor:pointer;
        // top: 40px;
        right:5px;
        z-index:1000;
        transition: top .2s .2s, transform .2s, background-color 0 .2s, opacity .2s;
        @include mobile {
            postion:absolute;
            margin-top:0;
            top:-45px;
        }
        &:hover {
            opacity:.50;
        }
        .Header-bars,
        .Header-bars:before,
        .Header-bars:after {
            position: absolute;
            display:block;
            width: 30px;
            height: 4px;
            margin: 0 auto;
            background: $absoluteBlack;
            
            transition: top .2s, transform .2s .2s;
            bottom:10px;
            @include mobile {
                width:20px;
                height:3px;
            }
        }
        .Header-bars:before,
        .Header-bars:after {
            content: "";
            display: block;
            position: absolute;
            transform: rotate(0deg);
        }
        .Header-bars:before {
            top: -8px;
            @include mobile {
                top:-6px;
            }
        }
        .Header-bars:after {
            top: 8px;
           @include mobile {
               top:6px;
           }
        }
        &.active .Header-bars:before,
        &.active .Header-bars:after {
            transition: top .2s, transform .2s .2s;
            top: 0;
        }
        &.active .Header-bars {
            background: transparent;
        }
        &.active .Header-bars:before {
            transform: rotate(45deg);
            background:$white;
        }
        &.active .Header-bars:after {
            transform: rotate(-45deg);
            background:$white;
        }
    }
    .Header-button a {
        @include buttonBg($blue);
        text-transform: uppercase;
        min-width: 220px;
        padding: 9px 12px;
        min-width: 0;
        font-family: $heading;
        font-size: 10px;
        color: $blue;
        &:hover {
            color: $white;
            &:before {
                background:transparent !important;
            }
        }
        
        @include mobile {
            min-width: 180px;
        }
    }
    .current_page_item {
        &.Header-button a {
            @include buttonBg($blue);
            text-transform: uppercase;
            min-width: 220px;
            padding: 9px 12px;
            min-width: 0;
            font-family: $heading;
            font-size: 10px;
            color: $blue;
            background:$blue;
            color:$white;
            &:hover {
                color: $white;
                &:before {
                    background:transparent;
                }
            }
            
            @include mobile {
                min-width: 180px;
            }
        }
        &:not(.Header-button) a::before {
            height: 2px;
            width: 100%;
            position: relative;
            bottom: -30px;
            background: $white;
            content: '';
            display: block;
        }
    }
    .Header-nav {
        margin-top:100px;
        text-align:center;
        @include mobile {
            margin-top:30px;
        }
        a.h2 {
            display:block;
            color:white;
            font-size:22px;
            font-family:$body;
            margin-bottom:40px;
            @include mobile {
                margin-bottom:25px;
                padding-left:10px;
            }
            &:hover {
                opacity:.75;
            }
            &.is-active {
                color:red;
            }
        }
    }
}