.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    background:$white;
    transition:.5s;
    opacity:1;
    overflow:hidden;
    .Header-logo {
        max-width:200px;
        padding-top:15px;
        padding-bottom:15px;
    }
}